<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Abdellah Ennajari - Portfolio présentant des projets, compétences et expériences en IA et Science des Données.">
    <meta name="keywords" content="portfolio, agence, entreprise, propre, société, corporate, créatif, galerie, rtl, moderne, photographie, vue, vuejs, responsive, sass">

    <!-- titre de l'onglet du navigateur -->
    <title>Abdellah Ennajari</title>

    <!-- favicon -->
    <link rel="icon" href="assets//images/favicon.ico">

    <!-- polices -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap">

    <!-- fichier des bibliothèques CSS -->
    <link rel="stylesheet" href="styles/libraries.min.css">

    <!-- fichier CSS de Bootstrap -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- fichier de style principal -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="app">
      <div id="app-inner" ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true">

        <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
        <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

        <!-- début du preloader -->
        <div class="preloader" ref="preloader">
          <div class="preloader-content">
            <div class="logo">
              <img src="assets/images/favicon.gif" alt="Votre Logo">
            </div>
            <div class="loading-bar">
              <span class="loading-bar-progress"></span>
            </div>
          </div>
        </div>
        <!-- fin du preloader -->

        <!-- début du header -->
        <header class="hide-in-preloading" :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Abdellah Ennajari">
              <h1><a href="rtl-index.html">Abdellah Ennajari</a></h1>
            </div>

            <!-- liens de navigation -->
            <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">

              <!-- liens du menu de navigation -->
              <ul class="nav-links">
                <li v-for="link in navLinks" :key="link.url">
                  <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.fr }}
                  </a>
                </li>
              </ul>

              <!-- contenu du menu pour les grands écrans (caché sur mobile/tablette) -->
              <div class="desktop-menu-content" tabindex="-1">
                <div class="container">

                  <!-- Section À propos de moi -->
                  <div class="about-us">
                    <p>
                      Étudiant ingénieur en intelligence artificielle avec de l'expérience en apprentissage profond et traitement d'images, je recherche un stage de 3 mois en France dans le domaine de l'IA. Passionné par l'innovation technologique, je souhaite appliquer mes compétences en apprentissage automatique et apprentissage profond au sein d'une équipe dynamique.
                    </p>
                    <h4 class="block-title">
                      Grâce à une formation solide en mathématiques et en informatique, je suis spécialisé dans le développement d'applications innovantes et la collaboration sur des projets technologiques avancés pour repousser les limites de l'intelligence artificielle.
                    </h4>
                  </div>

                  <!-- Section des informations de contact -->
                  <ul class="contact-info row">
                    <!-- Informations sur l'email -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Email</h4>
                      <ul>
                        <li><a href="mailto:abdellah.ennajari.23@ump.ac.ma">abdellah.ennajari.23@ump.ac.ma</a></li>
                      </ul>
                    </li>

                    <!-- Informations sur l'adresse -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Adresse</h4>
                      <ul>
                        <li>
                          Maroc
                        </li>
                      </ul>
                    </li>

                    <!-- Informations sur le téléphone -->
                    <li class="col-lg-4">
                      <h4 class="block-title">Téléphone</h4>
                      <ul>
                        <li><a href="tel:+212655798315">+212 6 5579-8315</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- icônes des options -->
            <ul class="options-icons">

              <!-- bouton de changement de langue -->
              <li class="lang-switcher">
                <ul class="lang-switcher-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="#">Fr 🇫🇷</a>

                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="rtl-index.html">Fr 🇫🇷</a>
                      </li>
                      <li class="menu-item">
                        <a href="index.html">En 🇬🇧</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <!-- bouton de changement de thème -->
              <li class="theme-switcher">
                <button :class="savedTheme" title="Changer le thème" @click="changeAppTheme"></button>
              </li>

              <!-- bouton hamburger -->
              <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                <button @click="toggleNavMenu"
                  title="Ouvrir/Fermer le menu latéral"
                  aria-label="Ouvrir/Fermer le menu latéral"
                  ref="navMenuToggleBtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </li>
            </ul>
          </div>
        </header>
        <!-- fin du header -->

        <!-- début de la page 404 -->
        <div class="not-found-page page">
          <div class="not-found-content">
            <div class="container">
              <div class="not-found-img">
                <img src="assets/images/404.png" alt="404">
              </div>
              <div class="not-found-text">
                <h2 class="title">Désolé ! Cette page est introuvable</h2>
                <p class="desc">Cher visiteur, vous avez suivi un lien incorrect ou la page a été supprimée.</p>
              </div>
              <a href="index.html" class="btn btn-primary">Retour à la page d'accueil</a>
            </div>
          </div>
        </div>
        <!-- fin de la page 404 -->

        <!-- début du footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Abdellah Ennajari">
                  <h1><a href="rtl-index.html">Abdellah Ennajari</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }} Fièrement propulsé par
                <a href="https://themeforest.net/user/webrouk/portfolio" target="_blank" rel="noopener">Webrouk</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- fin du footer -->

        <!-- bouton de retour en haut -->
        <button class="scroll-to-top" ref="scrollTopBtn"
          title="Retour en haut"
          data-show-at="50"
          @click="scrollToTop">
          <svg width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>
        </button>

        <!-- notifications toast -->
        <ul class="notifications-container hide-in-preloading">
          <transition-group name="notify">
            <li v-for="notify of notifications"
              :key="notify.id"
              :id="notify.id"
              :class="['notification', 'show', notify.className, notify.time && 'timer']"
            >
              {{ notify.msg }}
              <i class="fa fa-times link-hover" aria-hidden="true" @click="dismissNotify(notify.id)"></i>
              <span v-if="notify.time"
                class="disappearing-time"
                :style="{ 'animation-duration': notify.time + 'ms' }"></span>
            </li>
          </transition-group>
        </ul>

        <!-- chargement AJAX -->
        <div class="ajax-loading hide-in-preloading" v-show="isAjaxLoading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- fichier des plugins JS -->
    <script src="scripts/plugins.min.js"></script>

    <!-- fichier de script principal -->
    <script src="scripts/main.min.js"></script>
  </body>
</html>